body {
  font-family: "Lato", sans-serif;
  text-align: center;
}

p {
  text-align: justify;
}

h1 {
  font-weight: lighter;
  display: block;
}

h3 {
  font-size: 1.4em;
}

a {
  color: #2E2C2B;
}

a:visited {
  color: #2E2C2B;
  border-radius: 5px;
  text-decoration: none;
}

a:focused {
  color: #2E2C2B;
}

a:hover {
  background-color: white;
  color: black;
  font-weight: bolder;
  border-radius: 5px;
  text-decoration: none;
}

a:active {
  background-color: #898b8e;
  color: #2E2C2B;
  border-radius: 5px;
  text-decoration: none;
}

#section1 {
  height: 10%;
  width: 100%;
  background-color: black;
  display: inline-block;
  color: white;
  text-align: center;
}

#headerimg {
  height: 200px;
  width: 200px;
  border: 10px solid white;
  border-radius: 150px;
  position: relative;
  display: inline-grid;
}

.button {
  height: 1.25em;
  width: 10em;
  padding: 10px;
  text-decoration: none;
  background-color: #898b8e;
  display: inline-grid;
  border: 1px solid black;
  border-radius: 10px;
  margin: auto;
}

#section2 {
  height: 20%;
  width: 100%;
  color: black;
  background-color: white;
  display: inline-block;
}

.inside {
  width: 60%;
  margin: auto;
  display: block;
}

#section3 {
  height: 20%;
  width: 100%;
  color: white;
  background-color: #898b8e;
  display: inline-block;
}

#section4 {
  height: 20%;
  width: 100%;
  color: black;
  background-color: white;
  display: inline-block;
}

.gallery {
  height: 90%;
  width: 60%;
  display: block;
  margin: auto;
}

.gimg {
  max-height: 50%;
  max-width: 50%;
  border: 10px solid silver;
  border-radius: 50px;
}

#section5 {
  height: 20%;
  width: 100%;
    color: white;
  background-color: #898b8e;
  display: inline-block;
}

input {
  display: block;
  width: 100%;
  border-radius: 5px;
  border: 1px solid black;
  height: 30px;
}

textarea {
  display: block;
  width: 100%;
  border-radius: 5px;
  border: 1px solid black;
  height: 60px;
}

button {
  display: block;
  margin: auto;
}

#section6 {
  height: 10%;
  width: 100%;
  background-color: black;
  display: inline-block;
  color: white;
}

#footer {
  color: white;
  margin: auto;
}

.icon {
  height: 50px;
  width: 50px;
  border: 1px solid white;
  border-radius: 150px;
}
