body {
    font: 300 21px 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    color: #ddd;
    background-color: #333;
    border-top: 5px solid #f00;
    -webkit-box-shadow: inset 0 3px 30px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 3px 30px rgba(0,0,0,0.3);
    box-shadow: inset 0 3px 30px rgba(0,0,0,0.3);
    text-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    margin: 0;
}

header, section, footer {
    float: left;
    width: 100%;
    clear: both;
}

footer, header, nav, section {
    display: block;
}

.wrap, .grid, .grid.wrap {
    max-width: 978px;
    min-width: 410px;
    margin: 0 auto;
}

.grid {
    display: block;
    clear: both;
}

.grid, .unit:first-child {
    padding-left: 20px;
    display: block;
}

.grid, .unit:last-child {
    padding-right: 20px;
}

.logo {
    width: 33.3332%;
}

.grid, .unit {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
    
.logo {
    width: ;
    display: inline-block;
}

.logo img {
   padding-left: 20px; 
}

.main-nav {
    margin-top: 52px;
    width: 66.6665%;
    float: right;
    padding-right: 20px;
}

nav, ul {
    padding: 0;
    margin: 0;
    white-space: wrap;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

.main-nav li {
    margin-right: 10px;
    margin-left: 10px;
}

nav li {
    display: inline-block;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    color: #f00;
}

li a:hover {
    color: orangered;
    background-color: #212121;
    -webkit-box-shadow: outset 0 1px 0 rgba(255,255,255,0.5), 0 1px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: outset 0 1px 0 rgba(255,255,255,0.5),0 1px 5px rgba(0,0,0,0.5);
    box-shadow: outset 0 1px 0 rgba(255,255,255,0.5), 0 1px 5px rgba(0,0,0,0.5);
    text-shadow: 0 1px 0 rgba(255,255,255,0.3);
    
}

.main-nav li.current a {
    background-color: #f00;
    color: #222;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 1px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5),0 1px 5px rgba(0,0,0,0.5);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 1px 5px rgba(0,0,0,0.5);
    text-shadow: 0 1px 0 rgba(255,255,255,0.3);
}

.main-nav li a {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-weight: 900;
    font-size: 14px;
    padding: 0.5em 1em;
    text-shadow: none;
    text-transform: uppercase;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}

a {
    text-decoration: none;
    color: #f00;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}

a:hover {
    color: orangered;
    text-decoration: none;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
/* */
.intro {
    display: block;
}

.intro p {
    line-height: 1em;
    margin: 0;
}

p {
    line-height: 1.5em;
}

.first {
    font-size: 67.2px;
    font-weight: 300;
    padding-top: 10px;
}
/* */
footer {
    background-color: #212121;
    font-size: 16px;
    padding-bottom: 5px;
    color: #c0c0c0;
    margin-top: 40px;
    width: 100%;
    clear: both;
}

.foot {
    display: inline-block;
    padding-top: 10px;
    width: 33%;
    float: left;
}

.divfoot {
    width: 80%;
    margin: auto;
}

.footlinks {
    width: 66%;
    padding-top: 20px;
    float: left;
}

.footlinks img {
    border: 2px solid white;
    border-radius: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.links {
    margin: auto;
    width: 80%;
}
/* - Media Queries - */
@media screen and (max-width: 568px) {
    .grid {
        width: 100%;
        clear: both;
        float: left;
    }
    
    div.logo {
        width: 100%;
        clear: both;
        float: left;
    }
    
    img.img {
        width: 95%;
        margin: auto;
    }
    
    .main-nav unit two-thirds hide-on-mobiles {
        width: 100%;
        margin: auto;
    }
    
    ul {
        width: 95%;
        margin: auto;
    }
    
    li {
        width: 30%;
        margin: auto;
    }
    
    div.foot {
        width: 100%;
        margin: auto;
        font-size: 2em;
        text-align: left;
    }
    
    div.footlinks {
        width: 100%;
        margin: auto;
    }
}
